$font-family: 'Poppins', sans-serif;
$color-border-grey: #acb1c6;
$color-text: #828282;
$bg-secundary: #1f53ee;
$bg-secundary-hover: #003ef7;
$color-white: #fff;
$border__incorrecto: 2px solid #ff0000;
$border__correcto: 2px solid $bg-secundary;
$color-incorrecto: #ff0000;
